<script>

 window.efSupport.appOptions = {
   appInitUrl:    "<%= api_path(@conn, :app_init) %>",
   createTaskUrl: "<%= api_path(@conn, :create_task) %>",
   updateTaskUrl: "<%= api_path(@conn, :update_task) %>",
   csrfToken:     "<%= get_csrf_token() %>"
 };
</script>


<div id="elm-app"></div>
